/*DEVELOPER: Andrew Anil George, IS117-005, Fall 2023*/
.jumbotron {
    margin-bottom: 0; /* Removes the space below the jumbotron */
}

.carousel-img {
    max-height: 500px; /* Max height for images */
    object-fit: contain; /* Ensures image fits within its box without being cropped */
    width: auto; /* Adjust width automatically */
    max-width: 100%; /* Maximum width of image is 100% of its container */
}

.card-link {
    text-decoration: none;
    color: inherit; /* This ensures the text color doesn't change */
}

.hoverable-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect */
}

.hoverable-card:hover {
    transform: scale(1.05); /* Slightly increases the size */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Adds a shadow for floating effect */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: none; /* Removes the default arrows */
}

.carousel-control-prev-icon:after,
.carousel-control-next-icon:after {
    content: ''; /* Custom arrow icon here */
    font-size: 30px; 
    display: inline-block;
    width: 30px; 
    height: 30px; 
    line-height: 30px; /* Center the icon */
    text-align: center;
    color: #fff; /* Color of the arrow */
    background-color: #343a40; /* Darker color */
    border-radius: 100%; /* Makes it circular */
    
}

.carousel-control-prev {
    left: 10px; /* Adjusts the position to the left */
}

.carousel-control-next {
    right: 10px; /* Adjusts the position to the right */
}

.carousel-control-prev-icon:after {
    content: '<'; /* The left arrow icon */
}

.carousel-control-next-icon:after {
    content: '>'; /* The right arrow icon */
}

.filter-btn {
    margin: 0 5px;
}




